<html>
<head>
    <link rel="icon" type="image/png" href="https://www.google.com/s2/favicons?domain=openshift.com"/>
	<link rel="stylesheet" href="css/patternfly/patternfly.min.css"/>
	<link rel="stylesheet" href="css/patternfly/patternfly-additions.min.css"/>
	<link rel="stylesheet" href="css/thirdparty/lobipanel.min.css"/>
	<link rel="stylesheet" href="css/index.css"/>
	<meta charset="UTF-8" />
	<title>3Scale OAS Importer</title>
</head>

<body>
	<nav class="navbar navbar-default navbar-pf" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			
			<a class="navbar-brand" href="/">
				<img width="200px" src="images/Logotype_RH_OpenShift_wLogo_RGB_White.png" alt="Openshift"></img>
				<p>3Scale OAS (aka Swagger) Importer Tool</p>
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-collapse-1">
			<ul class="nav navbar-nav navbar-primary">
				<li >
					<a href="/">Importer</a>
				</li>
			</ul>
		</div>
	</nav>
	  
	<div class="container-fluid">	
		<div class="card-pf-body"> 
			<div>
				<form action="/import" method="POST" class="form-horizontal">
					<div class="3scale-config">
						<div class="form-group row">
							<label for="input-access-token" class="col-sm-2 col-form-label">Access Token</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="access_token" id="input-access-token" />
							</div>
						</div>
						<div class="form-group row">
							<label for="input-threescale_id" class="col-sm-2 col-form-label">3Scale ID</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="threescale_id" id="input-threescale_id" />
							</div>
						</div>
						<div class="form-group row">
							<label for="input-wildcard_domain" class="col-sm-2 col-form-label">Wildcard Domain</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="wildcard_domain" id="input-wildcard_domain" />
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="input-swagger_file" class="col-sm-2 col-form-label">Swagger file URL</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="swagger_file" id="input-swagger_file" />
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">.</label>
						<div class="col-sm-5">
							<button type="submit" class="btn btn-primary col-sm-5">Import API</button>
						</div>
					</div>
				</form>
			</div>

			<script type="text/javascript" src="js/thirdparty/bootstrap.min.js"></script>
</body>
</html>
